:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
}

html:not(lightDark) {
  background: var(--light);
  color: var(--dark);
}

html[lightDark] {
  background: var(--dark);
  color: var(--light);
  
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  display: none;
}

.toggle + label {
  left: 50%;
  width: 70px;
  height: 30px;
  background: var(--label);
  display: block;
  position: relative;
  border-radius: 20px;
  padding: 4px;
  transition: .5s;
  cursor: pointer;
}

.toggle + label:before {
  content:"";
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--light);
  display: block;
  border-radius: 50%;
  right: unset;
  left: 4px;
  top: 4px;
  transition:  .5s;
}

.toggle:checked + label:before {
  content: '';
  left: calc(100% - 35px);
}

.image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}
